/* Variables */
:root {

  /* General */
  --border-width: 1px;
  --border-radius: 3px;
  --base-margin: 0.5rem;
  --base-padding: 0.5rem;
  --line-height: 1.5;
  --header-height: 3.5rem;
  --footer-height: calc(var(--header-height) / 2);

  /* Colors */
  --c-white: hsl(0, 0%, 100%);
  --c-off-white: hsl(0, 0%, 93%);
  --c-blue: hsl(231, 48%, 48%);
  --c-black: hsl(0, 0%, 0%);
  --c-red: hsl(0, 52%, 47%);
  --c-overlay: hsla(0, 0%, 0%, 0.57);
  --c-darkgold: hsl(43, 89%, 38%);
  --c-green: hsl(120, 100%, 25%);
  --c-purple: hsl(300, 100%, 25%);
  --c-transparent: transparent;

  /* Fonts */
  --header-font-size: 1.1rem;
  --footer-font-size: calc(var(--header-font-size) / 1.75);
  --primary-font-size: 0.9rem;
  --primary-font-family: system-ui, sans-serif;
  --bold: 700;

  /* Icons */
  --header-icon-size: var(--header-font-size);

  /* Switch */
  --switch-size: var(--primary-font-size);
  --switch-background-off: var(--c-off-white);
  --switch-background-on: var(--c-blue);
  --switch-background-circle: var(--c-white);
  --switch-transition: 0.5s;

  /* Tables */
  --table-border-color: hsla(207, 90%, 54%, 0.2);
  --table-background-color: hsla(207, 90%, 54%, 0.05);

}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

select, input, input[type="checkbox"] {
  margin: 0;
  padding: calc(var(--base-padding) / 2);
  border-width: var(--border-width);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* General */
html, body {
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--c-off-white);
  background-image: url('../images/app-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: calc(var(--primary-font-size) * var(--line-height));
  color: var(--c-black);
}

input {
  font-size: var(--primary-font-size);
  line-height: calc(var(--primary-font-size) * var(--line-height));
}

a, a:link, a:visited, a:hover, a:active {
  color: var(--c-blue);
  text-decoration: none;
}

/* Style for switch */
.switch {
  appearance: none;
  position: relative;
  width: calc(var(--switch-size) * 2);
  height: var(--switch-size);
  border-radius: var(--switch-size);
  background-color: var(--switch-background-off);
  outline: none;
  cursor: pointer;
  transition: background var(--switch-transition);
  pointer-events: none;
}

.switch::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 27.5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: calc(var(--switch-size) * 0.8);
  width: calc(var(--switch-size) * 0.8);
  background-color: var(--switch-background-circle);
  transition: left var(--switch-transition);
}

.switch:checked {
  background-color: var(--switch-background-on);
}

.switch:checked::after {
  left: 72.5%;
}

/* Header */
.header {
  --_header-inline-margin: calc((var(--base-padding) * 4) + var(--header-icon-size));
  --_control-top: calc((var(--header-height) - var(--header-icon-size)) / 2);
  --_control-side: calc(var(--base-padding) * 2);
  width: 100%;
  height: var(--header-height);
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--c-blue);
  color: var(--c-white);
  box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.14), 0 2px 9px 1px hsla(0, 0%, 0%, 0.12), 0 4px 2px -2px hsla(0, 0%, 0%, 0.2);
  z-index: 1000;
}

.headerTitle {
  width: 100%;
  display: block;
  font-size: var(--header-font-size);
  line-height: calc(var(--header-font-size) * var(--line-height));
  font-weight: 700;
  text-align: center;
  margin: auto var(--_header-inline-margin);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerSearchBox {
  display: flex;
  align-items: center;
  flex: 1;
  margin-inline: var(--_header-inline-margin);
}

#headerBack {
  font-size: var(--header-icon-size);
  line-height: var(--header-icon-size);
  font-weight: 700;
  position: absolute;
  left: var(--base-margin);
  top: calc(((var(--header-height) - var(--header-icon-size)) / 2) - var(--base-padding));
  padding: var(--base-padding);
  cursor: pointer;
}

#headerSearch {
  position: absolute;
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  top: var(--_control-top);
  left: var(--_control-side);
}

#gameSearch {
  width: 100%;
}

/* Navigation */
#menuToggle {
  display: block;
  position: absolute;
  top: var(--_control-top);
  right: var(--_control-side);
  z-index: 1001;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--c-black);
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  padding: 0;
  margin: 0;
}

#menuToggle span {
  --line: calc(var(--header-icon-size) / 6);
  display: block;
  width: var(--header-icon-size);
  height: var(--line);
  margin-bottom: var(--line);
  position: relative;
  background: var(--c-off-white);
  border-radius: var(--border-radius);
  z-index: 1;
  transform-origin: 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0, 0);
  background: var(--c-black);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0, 0);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 0);
}

#menu {
  text-align: right;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding-block: var(--header-height);
  padding-inline: var(--_control-side);
  background: var(--c-off-white);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  top: calc(var(--_control-top) * -1);
  right: calc(var(--_control-side) * -1);
  transform-origin: top right;
}

#menu li {
  --_font-size: calc(var(--header-font-size) * 2);
  font-size: var(--_font-size);
  line-height: calc(var(--_font-size) * var(--line-height));
  font-weight: var(--bold);
  font-variant-caps: all-petite-caps;
}

#menuToggle input:checked ~ ul {
  transition: all 0.3s linear;
  scale: 1;
  translate: 0%;
  opacity: 1;
}

#menuToggle input:not(:checked) ~ ul {
  transition: all 0.3s linear;
  scale: 0;
  translate: 100%;
  opacity: 0;
}

/* Main */
.main {
  padding-block-start: var(--header-height);
  padding-inline: 0;
  padding-block-end: vaR(--footer-height);
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.hidden {
  display: none;
}

/* Card */
.card {
  --_card-padding: calc(var(--base-padding) * 2);
  --_card-margin: calc(var(--base-margin) * 2);
  padding: var(--_card-padding);
  position: relative;
  box-sizing: border-box;
  background: var(--c-white);
  border-radius: var(--border-radius);
  margin: var(--_card-margin);
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12);
}

.cardLogo {
  width: 100%;
}

.cardTitle, .cardSlideTitle, .cardSlider, .cardText, .cardOl li, .cardUl li, .cardCredit, .cardButtons, .cardTable {
  padding-bottom: var(--base-padding);
}

.cardTitle, .cardSlideTitle {
  font-weight: var(--bold);
  font-variant-caps: all-petite-caps;
}

.cardOl, .cardUl {
  margin-block: 0px;
  padding-inline-start: var(--_card-padding);
}

.cardTable {
  width: 100%;
}

.cardTable td {
  padding: calc(var(--base-padding) / 2);
  border: var(--border-width) solid var(--table-border-color);
  background-color: var(--table-background-color);
}

.cardCredit {
  text-align: center;
}

.cardSlider {
  overflow: auto;
  display: flex;
  width: 100%;
  text-align: center;
  scroll-snap-type: x mandatory;
}

.cardSlide {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.cardSlide > img {
  max-width: 100%;
  padding: 0 var(--base-padding);
}

.cardSlide table {
  width: 100%;
  margin-bottom: var(--base-margin);
  padding: 0 var(--base-padding);
}

.cardSlide th, .cardSlide td {
  width: 50%;
  padding: var(--base-padding);
  border: 1px solid var(--table-border-color);
  background-color: var(--table-background-color);
}

.cardSlide th {
  text-align: right;
}

.cardSlide td {
  text-align: left;
}

.cardButtons {
  text-align: right;
}

.cardButtons button {
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  background-color: var(--c-blue);
  color: var(--c-white);
  padding: var(--base-padding);
}

.card > div:last-child {
  padding-bottom: 0px;
}

/* Copyright */
#copyright {
  width: 100%;
  height: var(--footer-height);
  position: fixed;
  display: flex;
  justify-content: center;
  background: var(--c-blue);
  color: var(--c-white);
  font-size: var(--footer-font-size);
  font-style: oblique;
  line-height: var(--footer-height);
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.14), 0 2px 9px 1px hsla(0, 0%, 0%, 0.12), 0 4px 2px -2px hsla(0, 0%, 0%, 0.2);
}

/* Loader */
.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader #spinner {
  box-sizing: border-box;
  stroke: var(--c-red);
  stroke-width: 2px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/* Dialog */
.dialog-container {
  background: var(--c-overlay);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  will-change: opacity;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.dialog {
  background: var(--c-white);
  padding: calc(var(--base-padding) * 2);
  border-radius: var(--border-radius);
  box-shadow: 0 0 14px hsla(0, 0%, 0%, 0.24), 0 14px 28px hsla(0, 0%, 0%, 0.48);
  min-width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(30px);
  transform: translate(-50%, -50%) translateY(30px);
  -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
}

.dialog-title {
  font-weight: var(--bold);
  border-bottom: 1px solid;
}

.dialog-title:empty {
  display: none;
}

.dialog-body {
  padding-block: var(--base-padding);
}

.dialog-buttons {
  float: right;
}

/* Release notes */
.rn {
  margin-block-start: 0px;
  padding-left: calc(var(--base-padding) * 2);
}

.rn li {
    margin-bottom: var(--base-margin);
}

.rn li:last-child {
    margin-bottom: 0px;
}

.rn > li.bugfix {
  color: var(--c-red);
}

.rn > li.update {
  color: var(--c-darkgold);
}

.rn > li.new {
  color: var(--c-green);
}

/* Game specifics */
.azul-board {
  --_max-size: 70px;
  --_gap: 0.5rem;
  --_size: calc((100% / 5) - var(--_gap));
  display: grid;
  gap: var(--_gap);
  grid-template-columns: repeat(5, min(var(--_size), var(--_max-size)));
  place-content: center
  ;
}

.rollplayer-block::after {
  content: "";
  display: inline-table;
  width: calc(var(--base-margin) * 2);
  height: calc(var(--base-margin) * 2);
  margin-left: var(--base-margin);
  border: 1px solid var(--_c-border, --_c-bg, transparent);
  background-color: var(--_c-bg, transparent);
}

.lilliput-flag {
  width: 100px;
  height: 200px;
  background-position-x: 9px;
  background-repeat: no-repeat;
}

/* Modifier classes - Fonts */
.header-font-size {
  font-size: var(--header-font-size);
}

.all-small-caps {
  font-variant: all-small-caps;
}

.oblique {
  font-style: oblique;
}

/* Modifier classes - Colors (Fonts) */
.c-red {
  color: var(--c-red);
}

/* Modifier classes - positioning */
.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Modifier classes - visibility */
.display-none {
  display: none;
}